extends layout

block content
  h1 Flash Card Web App
  p.lead A simple Quizlet Clone.
  hr
  .row
    .col-md-6
      h2 Search For Flash Cards
      p Find flash card sets created by other users
      p
        a.btn.btn-raised(href='/search', role='button') Search »
    .col-md-6
      h2 Create Your Own Flash Card Set
      p Create and Study From Your Custom Flash Card Packs
      p
        a.btn.btn-raised(href='/create', role='button') Create »
    .col-md-6
      h2 View All of Your Flash Card Sets
      p Study From and Edit Your Packs
      p
        a.btn.btn-raised(href='/profile/packs', role='button') My Packs »
    .col-md-6
      h2 View Account Details
      p Change Email/Password, Delete Account, Link and Remove 3rd Party Authentication To Your Account, and more...
      p
        a.btn.btn-raised(href='/account', role='button') Account details »